<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ColorizeBot</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/media.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body ng-app="Colorize">
    <div class="wrapper" ng-controller="mainCtrl">
        <header>
            <h1> ColorizeBot</h1>
            <h3> Drop your pictures below, or upload using 'Browse'</h3></h2>
        </header>

        <!-- Photos preview -->
        <div ng-repeat="photo in photos">

            <!-- original photo -->
            <div class="photoPreview" ng-if="photo.status !== 'Finished'" ngf-background="photo.file" ngf-resize="{height: 200, quality: 0.85}">

                <!-- Pending upload -->
                <div class="layer pending" ng-if="photo.status === 'Pending'">
                    <div class="removePicture" ng-click="removePhoto(photo)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </div>
                    <p>{{photo.file.name}}</p>
                    <p>{{photo.file.size | formatSize}}</p>
                </div>

                <!-- Uploading -->
                <div class="layer uploading" ng-if="photo.status === 'Uploading'">
                    Uploading
                    <div class="uploadSpinner">
                        <i class="fa fa-spin fa-circle-o-notch" aria-hidden="true"></i>
                        <span class="uploadPercent">{{photo.uploadProgress}}%</span>
                    </div>
                </div>

                <!-- In queue -->
                <div class="layer queue" ng-if="photo.status === 'Queued'">
                    <p>Queue position: {{photo.queuePosition}}</p>
                </div>

                <!-- Processing -->
                <div class="layer processing" ng-if="photo.status === 'Processing'">
                    <p>Status: {{photo.status}}</p>
                </div>

            </div>

            <!-- Processed (colorized) photo -->
            <div class="photoPreview" ng-style="{'background-image':'url(output/'+photo.id+')'}" ng-if="photo.status === 'Finished'">
                <a href="output/{{photo.id}}" target="_blank">Download</a>
            </div>
        </div>

        <!-- Photos picker-->
        <div class="container" ngf-select="addPhotos($files)" ngf-multiple="true" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="50MB" ngf-fix-orientation="true" ngf-max-files="100" ngf-model-invalid="invalidFiles">
            <h3>Click here to add photos</h3>
            <i class="fa fa-plus" aria-hidden="true"></i>
            <i class="fa fa-picture-o" aria-hidden="true"></i>
        </div>

        <button ng-click="submitPhotos()">submit</button>

        <footer>
           <p>I'm a footer</p>
        </footer>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.0.4/ng-file-upload-all.min.js"></script>
<script src="script/app.js"></script>
<link rel="stylesheet" href="fontAwesome/css/font-awesome.min.css">
</body>
</html>