/******BASE STYLES*******/
* {
    box-sizing:border-box;
}

body {
    background-color: #9aa5a7;
    color: #363B51;
    font-family: 'Open Sans', sans-serif;
}


h1 {
    font-size: 2.625rem;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.3;
    text-shadow: 1px -2px 0 #222;
    font-family: 'Cabin', sans-serif;
    margin: 12px 0 0;
    text-align: center;
    color: white;
}

h3 {
    font-size: 1.15em;
}

.photoPicker {
    outline: 2px dashed white;
    height: 200px;
    width: 200px;
    background-color: #aebbbd;
    display: inline-block;
    margin: 3px;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    padding: 0 5px;
}

.photoPickerIcons {
    font-size: 4rem;
    margin-top: 15px;
}

.photoPickerText {
    margin: 0;
}

.photoPreview {
    display: inline-block;
    outline: 2px solid black;
    margin: 3px;
    height: 200px;
    width: 200px;
    overflow: hidden;
    background: no-repeat center center;
    background-size: cover;
}

.layer {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.50);
    color: white;
}

.layer.pending {
    visibility: hidden;
    padding-top: 4em;
    text-align: center;
}

.layer.uploading {
    text-align: center;
    padding-top: 0.5em;
    font-size: 2em;
}

.layer.queue {
    text-align: center;
    padding-top: 0.5em;
    font-size: 2em;
}

.layer.processing {
    text-align: center;
    padding-top: 0.5em;
    font-size: 2em;
}

.removePicture {
    font-size: 4em;
    position: absolute;
    top: 0;
    right: 0.15em;
    cursor: pointer;
}

.uploadSpinner {
    font-size: 4em;
    margin-top: -25px;
    position: relative;
}

.uploadPercent {
    font-size: 2rem;
    position: absolute;
    top:40%;
    left:0;
    width: 100%;
}

.queuePosition {
    font-size: 0.6em;
    margin-top: 1em;
}

.queuePositionNumber {
    font-size: 1.5em;
    margin-top: -0.3em;
}

.colorized {
    cursor: pointer;
}

.layer.finished {
    visibility: hidden;
    text-align: center;
    font-size: 2rem;
}

.colorized:hover .layer.finished {
    visibility: visible;
}

.photoPreview:hover .layer.pending {
    visibility: visible;
}

.downloadText {
    margin: 0;
    padding-top: 37%;
}

/****** lAYOUTS *******/

.wrapper {
    width: 70%;
    margin: 0 auto;
    padding-left: 1em;
    padding-right:1em;
}
