/******BASE STYLES*******/
* {
    box-sizing:border-box;
}

body {
    /*background-color: #9aa5a7;*/
    color: #dddddd;
    font-family: 'Khula', sans-serif;
    font-weight: 300;

    /*background: linear-gradient(#434750, transparent 90%),*/
    /*linear-gradient(0deg, #9aa5a7, transparent 70%),*/
    /*#434750  url('../img/bg.jpg') no-repeat center;*/

    /*background: url('../images/mountain.jpg');*/
    background-color: #272526;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


h1 {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.3;
    text-shadow: 1px -2px 0 #222;
    font-family: 'Cabin', sans-serif;
    margin: 12px 0 0 0;
    text-align: center;
    color: white;
}

.subTitle {
    font-size: 1.5em;
    margin-bottom: 50px;
    color: white;
}

a {
    color: #DDDDDD;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



.photoPicker {
    outline: 2px dashed #acacac;
    height: 200px;
    width: 200px;
    background-color: #cfcfcf;
    display: inline-block;
    margin: 3px;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    padding: 0 5px;
    color: #595959
}

.photoPickerIcons {
    font-size: 4rem;
    margin-top: 15px;
}

.photoPickerText {
    margin: 0;
    line-height: 1.2;

}

.photoPreview {
    display: inline-block;
    outline: 2px solid black;
    margin: 3px;
    height: 200px;
    width: 200px;
    overflow: hidden;
    background: no-repeat center center;
    background-size: cover;
}

.layer {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.50);
    color: white;
}

.layer.pending {
    visibility: hidden;
    padding-top: 4em;
    text-align: center;
}

.layer.uploading {
    text-align: center;
    padding-top: 0.5em;
    font-size: 2em;
}

.layer.queue {
    text-align: center;
    padding-top: 0.5em;
    font-size: 2em;
}

.layer.processing {
    text-align: center;
    padding-top: 0.5em;
    font-size: 2em;
}

.removePicture {
    font-size: 4em;
    position: absolute;
    top: 0;
    right: 0.15em;
    cursor: pointer;
}

.uploadSpinner {
    font-size: 4em;
    margin-top: -25px;
    position: relative;
}

.uploadPercent {
    font-size: 2rem;
    position: absolute;
    top:30%;
    left:0;
    width: 100%;
}

.queuePosition {
    font-size: 0.6em;
    margin-top: 1em;
}

.queuePositionNumber {
    font-size: 1.5em;
    margin-top: -0.3em;
}

.colorized {
    cursor: pointer;
}

.layer.finished {
    visibility: hidden;
    text-align: center;
    font-size: 2rem;
}

.colorized:hover .layer.finished {
    visibility: visible;
}

.photoPreview:hover .layer.pending {
    visibility: visible;
}

.downloadText {
    margin: 0;
    padding-top: 37%;
}

/****** lAYOUTS *******/

.wrapper {
    width: 70%;
    margin: 0 auto;
    padding-left: 1em;
    padding-right:1em;
    text-align: center;
    background-color: rgba(255,255,255,0.0);
}

.submitButton {
    background-color: #09090e;
    width: 200px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    cursor: pointer;
}

.submitButton:hover {
    box-shadow: 0 15px 32px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttonDiv {
    text-align: center;
    margin-top: 2em;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.footer {

    /*border-top: 1.5px solid rgba(215, 215, 215, 0.99);*/
    padding: 1rem;
    text-align: center;
    margin: 10% 0 0 0;
}
.paypal {
    display: inline-block;
    margin: 0 20px 0 0;
    vertical-align: middle;

}

.bitcoin {
    display: inline-block;
    vertical-align: middle;
}

