/******BASE STYLES*******/
* {
    box-sizing:border-box;
}

body {
    background-color: #9aa5a7;
    color: #363B51;
}


h1 {
    font-size: 2.625rem;
    color: #977573;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.3;
    text-shadow: 5px 8px 0 #222;
    margin: 12px 0 0;
    text-align: center;
    color: white;
}

h3 {
    font-size: 1.15em;
}

.container {
    outline: 2px dashed white;
    height: 200px;
    width: 200px;
    background-color: #aebbbd;
    display: inline-block;
    float:left;
    margin: 3px;
}

.photoPreview {
    outline: 2px solid black;
    margin: 3px;
    height: 200px;
    width: 200px;
    display: inline-block;
    float:left;
    background: no-repeat center center;
    background-size: cover;
}

.layer {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.50);
    color: white;
}

.layer.pending {
    visibility: hidden;
    padding-top: 4em;
    text-align: center;
}

.photoPreview:hover .layer.pending {
    visibility: visible;
}

.layer.uploading {
    text-align: center;
    padding-top: 0.5em;
    font-size: 2em;
}

.layer.queue {

}

.layer.processing {

}

.removePicture {
    font-size: 4em;
    position: absolute;
    top: 0;
    right: 0.15em;
    cursor: pointer;
}

.uploadSpinner {
    font-size: 4em;
    position: relative;
}

.uploadPercent {
    font-size: 2rem;
    position: absolute;
    top:35%;
    left:0;
    width: 100%;
}

/****** lAYOUTS *******/

.wrapper {
    width: 70%;
    margin: 0 auto;
    padding-left: 1em;
    padding-right:1em;
}